# General
.DS_Store
._*
*.bak
*.log
*.swp
*.*~

# Python
__pycache__/
*.egg-info/
*.py[cod]
*.so
build/
dist/
.idea/

# .NET
[Bb]in/
[Oo]bj/
*.cache
*.dll
*.exe
*.pdb
*.suo
*.user

# React
build/
dist/
.env*
node_modules/
package-lock.json
yarn-debug.log*
yarn-error.log*
yarn.lock

# IDEs
.vs/
*.aps
*.cachefile
*.ncb
*.opensdf
*.opendb
*.psess
*.sdf
*.VC.VC.opendb
*.VC.db
*.vsp
*.vspx
*.csproj.user
*.sln.DotSettings.user
*.vbproj.user
*.vcxproj.filters.user
*.vcxproj.user
*.iml

# Packages and build artifacts
**/packages/*
!**/packages/build/
*.nupkg
