.aboutContent {
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    font-size: 1.2rem;
    
    h1 {
        margin-bottom: -1rem;
    }
    
    h2 {
        margin-bottom: -1rem;
        margin-top: 3rem;
        color: var(--secondary);
    }

    h3 {
        margin-top: 2rem;
    }
    
    a {
        margin: 0;
        padding: 0;
        color: var(--accent);
    }

    table {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        thead {
            background-color: var(--secondary);
        }
        th, td {
            text-align: left;
            padding: 8px;
            border: 1px solid var(--accent);;
        }
    }

    .codeBlock {
        font-family: 'Source Code Pro';
        font-size: 1.2rem;
        background-color: var(--code-background);
        color: var(--code);
        padding: 2rem;
        border-radius: 2rem;
      }
    
    code {
        font-family: 'Source Code Pro';
        font-size: 1.2rem;
        background: var(--code-background);
        color: var(--code);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        border-radius: 2rem;
    }
}

@media screen and (max-width: 70rem) {
    .aboutContent {
        margin-left: 10%;
        margin-right: 10%;
    }
}