@import 'variables.module.scss';

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--primary);
  background: var(--background);
  font-family: var(--font-family);
}

.main {
  margin-top: 1.5rem;

  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.flexWrapper {
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  justify-content: space-between;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

h1 {
  font-weight: bold;
  position: inline;
  color: var(--secondary);
}

h2, h3 {
  font-weight: bold;
  position: inline;
  color: var(--tertiary);
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  font-size: 3rem;
  color: var(--error-message);
}

@media screen and (max-width: 55rem) {
  body {
    overflow-y: scroll;
  }
}