nav {
  display: absolute;
  margin-left: 10%;
  margin-right: 10%;
}

.activelink {
  color: var(--secondary);
}

.activeicon {
  display: none;
}
  
.navicon {
  display: none;
}

.navicon:hover {
  color: var(--accent-secondary);
}

.navlink {
  color: var(--tertiary);
}

.navlink:hover {
  color: var(--accent-secondary);
}

@media only screen and (max-width: 40rem) {
  nav{
    margin-left: 5%;
    margin-right: 5%;
  }
  .activelink {
    display: none;
  }
  .activeicon {
    color: var(--secondary);
    display: inline;
  }

  .navlink {
    display: none;
  }

  .navicon {
    display: inline;
  }
}