nav {
  display: absolute;
}

.activelink {
  color: var(--Secondary);
}

.activeicon {
  display: none;
}
  
.navicon {
  display: none;
}

.navicon:hover {
  color: var(--Accent);
}

.navlink {
  color: var(--Tertiary);
}

.navlink:hover {
  color: var(--Accent);
}

@media only screen and (max-width: 40rem) {
  nav{

  }
  .activelink {
    display: none;
  }
  .activeicon {
    color: var(--Secondary);
    display: inline;
  }

  .navlink {
    display: none;
  }

  .navicon {
    display: inline;
  }
}