:root {
    --font-family: "Ubuntu", Helvetica, sans-serif;

    --primary: #fff;
    --secondary: #fff;
    --tertiary: #fff;
    --quaternary: #fff;
    --accent: #fff;
    --background: #fff;
    --disable: #fff
    --disable-text: #fff;

    --error-message: red;
}